MONGODB_URL=mongodb://mongo:fFaUGSKdyUpXQmvxvQHsSWWgtULKwDTL@acela.proxy.rlwy.net:55183/dhreampay?authSource=admin
NEXTAUTH_SECRET=your-secret-key
NEXTAUTH_URL=http://localhost:3000
NODE_ENV=development